@media (min-width: 769px) {

    /* Styles pour les tablettes */
    .bouttonhead {
        width: 200px;
        height: 60px;
        gap: 0px;
        opacity: 0px;
        box-shadow: 0px 4px 4px 0px #F7262140;
        margin-right: 10px;
    }

    .logo {
        width: 100px
    }


}


/* Styles pour les smartphones */
@media (max-width: 768px) {

    /* Styles pour les smartphones */
    .bouttonhead {
        width: 130px;
        height: 30px;
        margin-right: 10px;
        gap: 0px;
        opacity: 0px;
        box-shadow: 0px 4px 4px 0px #F7262140;
    }

    .logo {
        width: 60px
    }
}